<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
          <h2>Date Selection</h2>

          <form method="post" action="{{ url_for('process_dates') }}">
              <label for="start_date">Start Date:</label>
              <input type="datetime-local" id="start_date" name="start_date" required>
  
              <label for="end_date">End Date:</label>
              <input type="datetime-local" id="end_date" name="end_date" required>
  
              <button type="submit">Submit</button>
          </form>    
        </div>
        
     </main>      
   </body>
</html>